
* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Luckiest Guy", cursive;
}

h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
  margin: .5em 0 .25em;
}

h2 {
  font-size: 2.75em;
  margin: .25em 0 .5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

h4 {
  font-size: 1.45em;
  margin: 1em 0 2em;
  text-align: center;
}

main {
  min-height: 60vh;
  text-align: center;
}


#container{
  height:100vh;
  width:100vw;
}

#title{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity:0.3;
}


